#thumbs li {
    display: inline;
}

.slide {
    width: 160;
    height: 160;
    padding: 10px;
    border: 1px black solid;
    float: left;
    text-align: center;
    vertical-align: center;
}

.title {
    font: Arial 8px black;
}

img { border: 0px;
    text-align: center;
    vertical-align: center;
}

about {
    clear: both;
    display: block;
}