<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Images by [% info.author %]</title>
<link rel="stylesheet" media="all" href="default.css"/>
<link rel="stylesheet" media="only screen and (min-width:600px) and (max-width:1280px) and (orientation:portrait)" href="tablet-portrait.css"/>
<link rel="stylesheet" media="only screen and (min-width:800px) and (max-width:1280px) and (orientation:landscape)" href="tablet-landscape.css"/>
<style>
#thumblist {
    width: [% items.max * 168 %]px;
    list-style: none;
    padding: none;
    margin: 0; padding: 0;
    background: #333;
}
</style>
<link rel="alternate" type="application/atom+xml" title="[% title %] Atom feed" 
    href="[% info.feeds.atom %]"/>
<link rel="alternate" type="application/rss+xml" title="[% title %] RSS feed"
    href="[% info.feeds.rss %]"/>
<!--
4. Highlight "current" thumbnail
5. For comments/favourites/etc., potentially add more elements below each image
6. For tag filtering, apply some fancy selector magic?
7. Properly support touch events
8. Tablet-Landscape: toggle between thumbs and image view
9. Tablet-portrait: small thumblist + image view
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
function setupSlides() {
    // Turn all image hrefs to anchor-hrefs to prevent following the links
    // (yet still keeping the image name information)
    $('#thumbs a').each(function() {
        $(this).attr('href', '#' + $(this).attr('href'));
    });
    
    var displaySlide = function(a) {
        a = $(a);
        $('#large').attr('src', a.attr('href').substring(1));
        // Make sure the top bar displays us
        var lx = a.position().left;
        var lw = a.width();
        var tx = $("#thumbs").scrollLeft();
        var w  = $("#thumbs").width();
        var target = -1;
        if (lx < 0) {
            target = tx+lx;
        } else if (lx > w-lw) {
            target = tx + lx -w +lw;
        };
        if (target >= 0) {
            $("#thumbs").animate({ scrollLeft: target }, 300);
            var maxScroll = $("#thumbs").attr("scrollWidth") -
                            $("#thumbs").width();
            $("#slider").slider("option", "value", target * 100 / maxScroll );
        };
    };
    
    var nextSlide = function(e) {
        var focus = $('#thumbs li').first();
        
        // If we have an anchored URL, use that
        var url = document.location.toString();
        var base = url.split('#')[0];
        if (url.match('#')) {
            // click the navigation item corresponding to the anchor
            var a = '#' + url.split('#')[1];
            focus = $('#thumbs li a[href="' + a + '"]').closest('li');
        };
        var l = focus.next('li').find('a');
        if (! l[0]) {
            l = $('#thumbs a').first();
        };
        l.click();
        document.location = base + l.attr('href');
        if(e.originalEvent==undefined) return;
        if (slideTimer) {
            window.clearInterval( slideTimer );
        };
    };

    var prevSlide = function (e) {
        var focus = $('#thumbs li').first();
        
        // If we have an anchored URL, use that
        var url = document.location.toString();
        var base = url.split('#')[0];
        if (url.match('#')) {
            // click the navigation item corresponding to the anchor
            var a = '#' + url.split('#')[1];
            focus = $('#thumbs li a[href="' + a + '"]').closest('li');
        };
        var l = focus.prev('li').find('a');
        if (! l[0]) {
            l = $('#thumbs a').last();
        };
        l.click();
        document.location = base + l.attr('href');
        if(e.originalEvent==undefined) return;
        if (slideTimer) {
            window.clearInterval( slideTimer );
        };
    };

    $('#thumbs a').click(function(e) {
        displaySlide(this);
        if(e.originalEvent==undefined) return;
        if (slideTimer) {
            window.clearInterval( slideTimer );
        };
    });

    var focus = $('#thumbs a').first();
    
    // If we have an anchored URL, use that
    var url = document.location.toString();
    if (url.match('#')) {
        // click the navigation item corresponding to the anchor
        var a = '#' + url.split('#')[1];
        focus = $('a[href="' + a + '"]');
    };
    
    focus.click();
    
    var left=$('<span id="left" >&#9664;</span>');
    left.addClass('navigation');
    left.click(prevSlide);
    var right=$('<span id="right">&#9654;</span>');
    right.addClass('navigation');
    right.click(nextSlide);
    
    var slider=$('<div id="slider"></div>');
    $(slider).slider({
        animate: true,
        change: handleSliderChange,
        slide: handleSliderSlide
    });
    
    $('#playpause')
        .toggle(function(){slideTimer = window.setInterval(prevSlide,5000)}, function(){window.clearInterval(slideTimer)})
        .show();
    
    $('#thumbs')
        .before(left)
        .before(right)
        .after(slider);
};

function handleSliderChange(e, ui)
{
  if(e.originalEvent==undefined) return;
  
  var maxScroll = $("#thumbs").attr("scrollWidth") -
                  $("#thumbs").width();
      $("#thumbs").animate({scrollLeft: ui.value *
     (maxScroll / 100) }, 1000);
}

function handleSliderSlide(e, ui)
{
  if(e.originalEvent==undefined) return;
  var maxScroll = $("#thumbs").attr("scrollWidth") -
                  $("#thumbs").width();
  $("#thumbs").attr({scrollLeft: ui.value * (maxScroll / 100) });
}
$(document).ready(function () {        
    $('#thumbs').mousedown(function (event) {
        $(this)
            .data('down', true)
            .data('x', event.clientX)
            .data('scrollLeft', this.scrollLeft);
            
        return false;
    }).mouseup(function (event) {
        $(this).data('down', false);
    }).mousemove(function (event) {
        if ($(this).data('down') == true) {
            this.scrollLeft = $(this).data('scrollLeft') + $(this).data('x') - event.clientX;
        }
    }).css({
        'overflow' : 'hidden',
        'cursor' : '-moz-grab'
    });
    setupSlides();
});

$(window).mouseout(function (event) {
    if ($('#thumbs').data('down')) {
        try {
            if (event.originalTarget.nodeName == 'BODY' || event.originalTarget.nodeName == 'HTML') {
                $('#thumbs').data('down', false);
            }                
        } catch (e) {}
    }
});
</script>
</head>
<body>
<div class="feeds"><a href="[% info.feeds.rss %]" alt="Subscribe to my images"><img src="feed-icon-32x32.png"></a></div>
<h2 id="titlebar">Images by [% info.author %], last updated on [% info.updated %] <span id="playpause">|&#9654;</span></h2>
<div id="navcontainer">
<div id="thumbs">
<ul id="thumblist">
[% FOR image IN items %]
<li><div class="slide">
    <a href="[% image.sizes.large.name.basename %]" name="[% image.file.basename %]">
    <img class="thumb"
        src="[% image.sizes.thumbnail.name.basename %]"
        alt="[% image.title %]"
        width="[% image.sizes.thumbnail.width %]"
        height="[% image.sizes.thumbnail.height %]">
    <p class="title">[% image.title %]</p>
    </a>
    <p class="timestamp">[% image.date_taken %]</p>
    </div>
</li>
[% END %]
</ul>
</div>
</div>
<div id="large_container">
<img id="large">
</div>
<div class="about">Created using [% info.about %]</div>
</body>
</html>
